# Don’t commit the following directories created by pub.
build/
packages/
dyncall/

# Files created by dart2js.
*.dart.js
*.dart.precompiled.js
*.js_
*.js.deps
*.js.map

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# cmake
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeFiles

bin

tags

# JVM error logs
hs_err*.log

# Include when developing application packages.
pubspec.lock
